<div class="mat-elevation-z8">
  <div class="add-pedido">
    Faça um pedido
    <a routerLink="/pedido/create" class="create">
      <i class="material-icons">
        event
      </i>
    </a>
  </div>


  <table mat-table [dataSource]="pedidos">

    <!-- Coluna do Nome -->
    <ng-container matColumnDef="nameCliente">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let row">{{row.cliente.nome}}</td>
    </ng-container>

    <!-- Coluna do Total da Compra -->
    <ng-container matColumnDef="totalCompra">
      <th mat-header-cell *matHeaderCellDef>Total da Compra</th>
      <td mat-cell *matCellDef="let row">{{row.totalCompra}}</td>
    </ng-container>

    <!-- Data da Compra -->
    <ng-container matColumnDef="dataCompra">
      <th mat-header-cell *matHeaderCellDef>Data da Compra</th>
      <td mat-cell *matCellDef="let row">{{row.dataCompra}}</td>
    </ng-container>

    <!-- N de Produtos -->
    <ng-container matColumnDef="nProdutos" class="nProdutos">
      <th mat-header-cell *matHeaderCellDef>Nº de Produtos</th>
      <td mat-cell *matCellDef="let row">{{row.produtos.length}}</td>
    </ng-container>

    <!-- Produtos -->
    <ng-container matColumnDef="produtos">
      <th mat-header-cell *matHeaderCellDef>Produtos</th>
      <td mat-cell *matCellDef="let row">
        <mat-accordion>
          <mat-expansion-panel  class="tabela-produtos">
        <mat-expansion-panel-header >
          <mat-panel-title>
            Ver Produtos {{panelOpenState ? '' : ''}}
          </mat-panel-title>
        </mat-expansion-panel-header>
            <ng-container *ngFor="let produto of row.produtos">
              {{produto.nome}}
            </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/cliente/update/{{ row.id }}" class="edit">
          <i class="material-icons">
            edit
          </i>
        </a>
        <a mat-raised-button (click)="deleteCliente(row.id)"  class="delete">
          <i class="material-icons">
            delete_outline
          </i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
