<form>
  <mat-card-title>Novo Pedido</mat-card-title>
  <mat-form-field>
    <input matInput placeholder="Digite o CPF do Cliente" [(ngModel)]="cliente.cpf"
           name="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Digite o Sku do Produto" [(ngModel)]="produto.sku"
           name="cpf">
  </mat-form-field>
  <button mat-raised-button (click)="buscarPedidoPeloProduto()" color="primary">Procurar Produto</button>
  <div class="produto" *ngIf="produtoVisible">
    <mat-card *ngFor="let produto of pedido.produtos">
      Produto : {{produto.nome}}    Total da Compra : {{pedido.totalCompra}}
    </mat-card>
  </div>

  <mat-card>
    * Atenção caso aja mais de um produto por pedido separe seus Sku por uma virgula.
    Exemplo : xxx-xxx-xxx,yyy-yyy-yyy
  </mat-card>

</form>
<button mat-raised-button (click)="create()" color="primary">
  Finalizar
</button>


