<form>
  <mat-card-title>Atualize as informações do cliente</mat-card-title>
  <mat-form-field>
    <input matInput placeholder="Nome" [(ngModel)]="cliente.nome"
           name="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CPF" [(ngModel)]="cliente.cpf"
           name="sigla">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Data de Nascimento" [(ngModel)]="cliente.dataNascimento"
           name="DataNascimento">
  </mat-form-field>

  <button mat-raised-button (click)="update()" color="primary">
    Salvar
  </button>
</form>


